
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    font-size: 25px;
    color: #333;
    font-family:Arial, Helvetica, sans-serif
}
h2 {
    font-family: 'Courier New', Courier, monospace;
}
h1, h2 {
    text-align:start;
}

.section {
    margin-bottom: 20px;
}
.section.flex-col {
    flex-wrap: wrap;
}

.linea-flex {

    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.linea-flex.wrap {
    flex-wrap: wrap;
}

.flex-col {
    display: flex;
    gap: 10px;
}

.label {
    font-weight: bold;
}
label {
    display: flex;
    font-weight: bold;
}

.field {
    margin-left: 3px;
    margin-right: 3px;

}

.ancho-largo {
    flex: 1;
    min-width: 200px;
}

.block-field {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}

input[type="text"] {
    padding: 5px;
}

.check-section {
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.linea {
    margin-bottom: 15px;
    line-height: 1.5;
}

h2 {
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}

strong {
    font-weight: bold;
}
.sesion-mini {
    border: 1px solid #ccc;
    padding: 8px;
    margin-bottom: 8px;
    font-size: 15px;
    line-height: 1.3;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.sesion-mini .fecha-num {
    font-weight: bold;
    margin-bottom: 4px;
}

.sesion-mini .campo {
    margin: 2px 0;
}
